[Unit]
Description=Apply YeetMouse configuration, profiles and devices
BindsTo=dev-yeetmouse.device
After=dev-yeetmouse.device

[Service]
Type=oneshot
ExecStartPre=/bin/sh -c 'chgrp yeetmouse /sys/module/yeetmouse/parameters/*'
ExecStartPre=/usr/bin/yeetmousectl setup /etc --seed /usr/share/yeetmouse
ExecStart=-/usr/bin/yeetmousectl touchpads --record
ExecStart=/usr/bin/yeetmousectl load
RemainAfterExit=yes
